:root {
  --aui-text-body-size: #{$font-size-md};

  --aui-text-body-weight: #{$font-weight-normal};

  --aui-text-heading-weight: #{$font-weight-semibold};

  --aui-text-caption-size: #{$font-size-sm};
}
