@use "../primitives/typography.scss" as typography;

:root {
  --aui-text-body-size: #{typography.$font-size-md};

  --aui-text-body-weight: #{typography.$font-weight-normal};

  --aui-text-heading-weight: #{typography.$font-weight-semibold};

  --aui-text-caption-size: #{typography.$font-size-sm};
}
