.aui-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  border-radius: var(--aui-radius-full);
  font-weight: var(--aui-font-weight-medium);
  line-height: 1;
  white-space: nowrap;

  &--sm {
    min-height: 1.25rem;
    padding-inline: var(--aui-spacing-2);
    font-size: var(--aui-font-size-xs);
  }

  &--md {
    min-height: 1.5rem;
    padding-inline: var(--aui-spacing-3);
    font-size: var(--aui-font-size-sm);
  }

  &--lg {
    min-height: 1.75rem;
    padding-inline: var(--aui-spacing-4);
    font-size: var(--aui-font-size-md);
  }

  &--neutral {
    color: var(--aui-color-text);
    background: var(--aui-color-surface);
  }

  &--success {
    color: var(--aui-color-on-success);
    background: var(--aui-color-success);
  }

  &--warning {
    color: var(--aui-color-on-warning);
    background: var(--aui-color-warning);
  }

  &--danger {
    color: var(--aui-color-on-danger);
    background: var(--aui-color-danger);
  }

  &--info {
    color: var(--aui-color-on-info);
    background: var(--aui-color-info);
  }
}
