.aui-switch-field {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.aui-switch-field__label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.aui-switch {
  margin: 0;
}

.aui-switch-field__text {
  display: inline-flex;
  align-items: center;
}

.aui-switch-field__description {
  margin-left: 1.75rem;
}

.aui-switch-field__error {
  margin-left: 1.75rem;
}

.aui-switch:disabled,
.aui-switch:disabled + .aui-switch-field__text {
  cursor: not-allowed;
}

.aui-switch--invalid {
  outline: 2px solid currentColor;
}
