@use "../../tokens/primitives/colors" as *;

[data-aui-theme="light"] {
  --aui-color-text-muted: #{$gray-500};

  --aui-surface-page: #{$white};
  --aui-surface-default: #{$gray-50};
  --aui-surface-elevated: #{$gray-100};
  --aui-surface-overlay: rgba(0, 0, 0, 0.5);
}
