.aui-user-card {
  display: flex;
  align-items: flex-start;
  gap: var(--aui-space-4);

  min-width: 0;

  &__content {
    display: grid;
    flex: 1;
    gap: var(--aui-space-2);
    min-width: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: var(--aui-space-2);
    min-width: 0;
  }

  &__name {
    margin: 0;

    color: var(--aui-color-text);
    font-size: var(--aui-font-size-md);
    font-weight: var(--aui-font-weight-semibold);
  }

  &__description {
    color: var(--aui-color-text-muted);
    font-size: var(--aui-font-size-sm);
  }
}
