.aui-heading {
  margin: 0;
  font-family: var(--aui-font-family-base);
  font-weight: var(--aui-text-heading-weight);
  color: var(--aui-color-text);
}

.aui-heading--xs {
  font-size: var(--aui-font-size-xs);
}

.aui-heading--sm {
  font-size: var(--aui-font-size-sm);
}

.aui-heading--md {
  font-size: var(--aui-font-size-md);
}

.aui-heading--lg {
  font-size: var(--aui-font-size-lg);
}

.aui-heading--xl {
  font-size: var(--aui-font-size-xl);
}
