/* Spacing utility classes for quick spacing */

.aui-p-1 {
  padding: var(--aui-spacing-1);
}
.aui-p-2 {
  padding: var(--aui-spacing-2);
}
.aui-p-3 {
  padding: var(--aui-spacing-3);
}
.aui-p-4 {
  padding: var(--aui-spacing-4);
}

.aui-m-1 {
  margin: var(--aui-spacing-1);
}
.aui-m-2 {
  margin: var(--aui-spacing-2);
}
.aui-m-3 {
  margin: var(--aui-spacing-3);
}
.aui-m-4 {
  margin: var(--aui-spacing-4);
}
