.aui-action-menu {
  display: block;
}

.aui-action-menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--aui-space-3);

  margin: 0;
  padding: 0;

  list-style: none;
}

.aui-action-menu__item {
  display: flex;
  align-items: center;
}
