@use "../primitives/spacing" as spacing;

:root {
  --aui-space-0: #{spacing.$spacing-0};
  --aui-space-1: #{spacing.$spacing-1};
  --aui-space-2: #{spacing.$spacing-2};
  --aui-space-3: #{spacing.$spacing-3};
  --aui-space-4: #{spacing.$spacing-4};
  --aui-space-5: #{spacing.$spacing-5};
  --aui-space-6: #{spacing.$spacing-6};
  --aui-space-8: #{spacing.$spacing-8};
  --aui-space-10: #{spacing.$spacing-10};
  --aui-space-12: #{spacing.$spacing-12};
  --aui-space-16: #{spacing.$spacing-16};
}
